@import url('https://fonts.google.com/specimen/Poppins?query=Poppins');

:root{
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151511;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

h {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 120rem;
    margin: 0 auto;
}

.container-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 ;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    

}

.container-logo i{
    font-size: 3rem;
}

.conmtainer-logo h1 a{
    text-decoration: none;
    color: #000;  
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px0 ;   
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
    font-size: 3rem;
    color: #c7a17a;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping{
    font-size: 3rem;
    color: #c7a17a;
    padding-left: 1rem;
}

.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

.container-navbar{
    background-color: #c7a17a;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
} 

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #f9f5f0;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #f9f5f0;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #f9f5f0;
    border-radius: 2rem;
    background-color: #f9f5f0;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4 rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: #c7a17a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-searchi{
    font-size: 2rem;
    color: #f9f5f0;
}

/****************************/
/******** categorias ********/

 .top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
 }

 .container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
 }

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-sodas{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Imagenes/Producto3.jpg');
    background-size: cover;
    background-position: bottom;
    background-position: no-repeat;
}

.category-sabritas{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Imagenes/Producto3.jpg');
    background-size: cover;
    background-position: bottom;
    background-position: no-repeat;
}

.category-chuche{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Imagenes/Producto3.jpg');
    background-size: cover;
    background-position: bottom;
    background-position: no-repeat;
}

.card-category p{
    font-size: 2.5rem;
    color: #f9f5f0;
    text-transform: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #f9f5f0;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span{
    font-size: 1.6rem;
    color: #f9f5f0;
    cursor: pointer;
}

.card-category span:hover{
    color: #c7a17a;
}