@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container-hero {
	background-color: #fff;
}

.hero {
	padding: 1rem 0;
}

body {
    width: 25%; /* El cuerpo ocupa el 25% del ancho de la ventana */
            height: 25vh; /* El cuerpo ocupa el 25% de la altura de la ventana */
            margin: auto; /* Centra el cuerpo horizontalmente */
}

.caja {
    padding: 20px; /* Espaciado interno alrededor del contenido del cuadro */
    background-color: #f3d3b3; /* Color de fondo del cuadro */
}

h3{
    text-align: center;
}

h1{
    font-size: 12px;
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: center;
}

p{
    text-align: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50vh; /* El cuerpo ocupa el 25% de la altura de la ventana */
    margin: auto;

}